/* * {
  font-size: large;
} */

main {
  min-height: 80vh;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1.5px;
}

.empImg {
  max-height: 65%;
}

/* li {
  font-size: 1.15em;
} */

/* body {
  background-color: gainsboro;
} */

.bannerLogo {
  max-height: 275px;
  /* max-width: 150%; */
  border: 1px solid black;
}